
/* Estilos generales */
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 2.5rem;
    font-family: 'Rubik Dirt', cursive;
}

.seccion-oscura{
    background-color: #1b1b32;
    color: white;
}

.seccion-titulo{
    font-size: 2rem;
    padding: 15px 0;
    font-family: 'Rubik Dirt', cursive;

}
.seccion-texto{
    font-size: 1.3rem;
}


/*Barra navegacion*/
.navbar{
    padding: 2rem;
    background-color: #f5f6f7;
}

/*movemos elementos al lado derecho*/
.navbar-collapse{
    align-items: center;
    justify-content: space-between;
}

/* fin barra de navegacion */

/* inicio de hero */
.hero{
    background-color: #f5f6f7;
    min-height: 450px;
    text-align: center;
}

.hero-principal{
    padding: 3rem;
}

.hero-imagen-desarrollador{
    width: 200px;
    height: 200px;
    margin: 20px;
    border-radius: 50%;
    border: solid 4px black;
}

.hero-principal h2{
    font-size: 1.5rem;
    color:cadetblue;
}
/* fin de hero */

/* inicio de about*/

.sobre-mi{
    height: 500px;
    padding: 10px;
    margin-top: 10px;
}

.sobre-mi .contenedor{
    max-width: 600px;
    text-align: center;

}

/* fin de about */




/*reglas responsive*/

@media  screen and (max-width:767px) {
    /* ocultamos el icono de la barra */
    .navbar-brand{
        display: none;
    }
}


/* limitar el tamanio maximo de tecnologias */
@media screen and (min-width: 700px) {
    .hero-inferior-imagen{
        max-width: 700px;
    }
}
